@charset "UTF-8";

@import url(./fontstyle.css);

body{
    font-family: 'Pretendard-Regular';
}

#headCon{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'GeekbleMalang2WOFF2';
}

#login{
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;    
    justify-content: center;
}

#kakao-login-btn {    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#headingOne,#headingTwo,#headingThree,.card-title{
    font-family: 'GmarketSansMedium';
}
#collapseOne,#collapseTwo,#collapseThree{
    font-family: 'Pretendard-Regular';
}

#CList{
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 20%;    
    justify-content: center;
}

#repleArea{    
    display: flex;
    justify-content:space-around;
}
#reple{
    width: 70%;
    
}
#reIns{    
    width: 20%;
}
