<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.BoardMapper">
	<!-- 메소드 이름과 동일하게 id 설정 -->
	<select id="boardSelectList" resultType="com.board.entity.Board">
		select * from board order by indate desc
	</select>
	
	<insert id="boardInsert" parameterType="com.board.entity.Board">
		insert into board(title, content, writer) 
		values(#{title}, #{content}, #{writer})
	</insert>
	
	<select id="boardContent" resultType="com.board.entity.Board">
		select * from board where idx=#{num}
	</select>
	
	<delete id="boardDelete">
		delete from board where idx=#{idx}
	</delete>
	
	<update id="boardUpdate">
		update board
		set title=#{title}, content=#{content}
		where idx=#{idx}
	</update>
	
	

</mapper>