<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.mapper.MemberMapper">
	<!-- 메소드 이름과 동일하게 id 설정 -->
	<select id="registerCheck" resultType="com.board.entity.Member">
		select * from member where memId = #{memId}
	</select>
	
	<insert id="join" parameterType="com.board.entity.Member">
		insert into member(memId, memPw, memName, memAge, memGender, memEmail)
		values(#{memId}, #{memPw}, #{memName}, #{memAge}, #{memGender}, #{memEmail})
	</insert>
	
	<select id="login" parameterType="com.board.entity.Member" resultType="com.board.entity.Member">
		select * from member where memId = #{memId} and memPw = #{memPw}
	</select>
	
	<update id="update" parameterType="com.board.entity.Member">
		update member set memPw = #{memPw}, memName = #{memName}, memAge = #{memAge},
		memGender = #{memGender}, memEmail = #{memEmail}
		where memId = #{memId}
	</update>
	
	<update id="updateImage" parameterType="com.board.entity.Member">
		update member set memProfile = #{memProfile} where memId = #{memId}	
	</update>
	

</mapper>









